<!-- posts/ID# -->
{% extends 'base.html' %}{% block content %}
<h1>Dirt Factoid # {{post.id}}</h1>
<ul>
<h3>Factoid Title: {{post.title}}</h3>
<br>
<h3>Factoid Content: {{post.body}}</h3>
<br>
<h3>Author: {{post.author}}</h3>
</ul>
<br>
<nav>
<a href="{% url 'post_edit' pk=post.id %}">Edit Factoid</a>
<a href="{% url 'post_delete' pk=post.id %}">Delete Post</a>
<a href="{% url 'post_form' %}">Create New</a>
<a href="{% url 'comment_create' %}">Comment</a>
</nav>
<br>
<h1><a href="{% url 'post_list' %}">Homepage</a></h1>
{% endblock %}