body {
    font-family: "Helvetica Neue", sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
    background-color: forestgreen;
  }
  nav a {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #eeeeee;
    border-radius: 25px;
  }
  
  nav a:hover {
    background-color: orange;
    color: blue;
    margin: 0.5em;
    padding: 0.5em;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    background-color: orange;
    border-radius: 15px;
    border-style: solid;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 0.25em;
  }

h1 {
  font: inherit;
  color: inherit;
  letter-spacing: -0.05em;
  text-decoration: none;
  border-bottom: 1px solid black;
}

h2 > a {
  font-size: 0.75em;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
}

